body {
	background: lightgreen;
	margin:0;
}
header {
	background: goldenrod;
}
h1{
	font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
	margin-left: 200;
}
.container {
	width: 50%;
	margin-top: 50px;
	margin-bottom: 50xp;
}	
.post {
	border: black;
	display: flex;
	flex-direction: column;
	background-color: rgb(23, 22, 22);
	margin-top: 40xp
}
h2{
	float: left;
	margin: left 10px;
	margin-top: 10px
}
.post-header {
	display: flex;
	justify-content:space-between;
	align-items: center;
}
span{
	color: rgb(230,230,230);
}
img {
	width: 100%;
}